<h1>Welcome to SB_Habr Admin</h1>

<p style="font-size: 40px" class="button btn-lg"><%= link_to 'Категории', admin_categories_path %></p>
<p style="font-size: 40px" class="button btn-lg"><%= link_to 'Пользователи', admin_users_path %></p>