<h1>Welcome to SB_Habr Model</h1>

<p style="font-size: 20px"><%= link_to 'See Posts', posts_path %></p>
<p style="font-size: 20px"><%= link_to 'See Comments', comments_path %></p>
<p style="font-size: 20px"><%= link_to 'See Categories', categories_path %></p>
