<p id="notice"><%= notice %></p>

<h1>
  <% if @category %>
      <%= 'Список публикаций категории '+@category.name %>
  <% else %>
      Список публикаций
  <% end %>
</h1>

<%= render @posts %>

<br>

<%= link_to 'Новая публикация', new_post_path, class: 'btn btn-large' %>

