<h1>
  <% if @category %>
      <%= t('.title_w_category')+' '+@category.name %>
  <% else %>
      <%= t('.title') %>
  <% end %>
</h1>

<% if @posts %>
    <%= render @posts %>
<% end %>

<br>

<%= link_to t('common.new_post'), new_post_path, class: 'btn btn-large' if user_signed_in?  %>

