<h1>Список пользователей</h1>

<div class="container col-md-6">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>E-Mail</th>
        <th>Дата последнего входа</th>
      </tr>
      </thead>

      <tbody>
      <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.last_sign_in_at %></td>
            <td><%= link_to 'Удалить пользователя', [:admin, user], method: :delete, data: { confirm: 'Вы уверены?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

</div>